<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="images-folder" value="C:\Users\usuario\Desktop\Repo Github\CSnivel2_MaxiPrograma\Discos_App\Imagenes_Tapas\"/>
  </appSettings>
</configuration>